<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="AditumPayment\Magento2\Api\AditumApiInterface" type="AditumPayment\Magento2\Model\AditumApi"/>
    <preference for="AditumPayment\Magento2\Api\Data\BrandInterface" type="AditumPayment\Magento2\Model\Data\Brand"/>
</config>
